html, body {
    height: 100%;
}

body a {
    font-family: arial, sans-serif;
    text-decoration: none;
}

/* All content flex */

.all_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Top Bar */

.nav_bar {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav_bar_items {
    font-family: arial, sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.nav_bar_items a {
    color: black;
}

.nav_bar_items a:hover {
    color: rgb(104, 104, 104);
    text-decoration: underline;
}

#grid_img {
    height: 20px;
    width: 20px;
}

.dropdown_apps {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    display: none;
    flex-wrap: wrap;
    width: 225px;
}

.apps:hover .dropdown_apps {
    position: absolute;
    right: 20px;
    display: flex;
    border: 0, 75px solid black;
    background-color: white;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 7px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
    margin-top: 15px;
}

.dropdown_apps div {
    width: 50px;
    height: 50px;
    margin: 12px;
    text-align: center;
}

#app_imgs {
    height: 50px;
    widows: 50px;
}

.nav_bar button {
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #4285f4;
    height: 36px;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #4285f4;
    border-radius: 4px;
    font-size: 15px;
}

.nav_bar button:hover {
    cursor: pointer;
    box-shadow: 0 0px 0px 0 rgba(29, 65, 228, 0.788), 0 0px 7px 0 rgba(29, 65, 228, 0.788);
}

/* Main Items */

.main {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
}

#logo {
    margin-bottom: 40px;
}

.zoekbalk {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #dfe1e5;
    width: 582px;
    height: 44px;
    border-radius: 24px;
}

.zoekbalk:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 7px 0 rgba(0, 0, 0, 0.19);
}

#searchbar {
    width: 480px;
    font-size: 18px;
    border: none;
}

#searchbar:focus {
    outline: none;
}

.zoek_icon {
    height: 28px;
    width: 28px;
    margin: 12px 18px 12px 12px;
}

.spraak_zoeken {
    height: 24px;
    width: 24px;
    margin: 12px 18px 12px 12px;
}

.spraak_zoeken:hover {
    cursor: pointer;
}

.button_set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 290px;
    margin: 30px;
}

.button_set button:hover {
    border: solid 1px rgb(202, 204, 207);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 7px 0 rgba(0, 0, 0, 0.19);
}

.button_set a {
    color: #5F6368;
}

.button_set a:hover {
    color: black;
    cursor: pointer;
}

.main button {
    font-family: arial, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #5F6368;
    background-color: #F6F6F6;
    height: 36px;
    padding: 10px 15px;
    color: rgb(104, 104, 104);
    text-decoration: none;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin: 11px 4px;
    font-size: 15px;
}

.aangeboden_door {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: gray;
}

/* Footer 1 */

.footer1 {
    font-family: arial, sans-serif;
    font-size: 15px;
    color: #5f6368;
    padding-left: 25px;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
}

/* Footer 2 */

.footer2 {
    padding-left: 25px;
    padding-right: 25px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
}

.links {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #5f6368;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.links a {
    color: #5f6368;
}

.links a:hover {
    color: #5f6368;
    text-decoration: underline;
}

.rechts {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #5f6368;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.rechts a {
    color: #5f6368;
}

.rechts a:hover {
    color: #5f6368;
    text-decoration: underline;
}